{% extends "base.html" %}
{% block content %}
<h1>Moje zgłoszenie</h1>

<div class="card">
{% if registration %}
  <p>Jesteś aktualnie zapisany na zawody.</p>
  <p><b>Kategoria:</b> {{ registration.category_name }}</p>
  
  <form method="post" action="{{ url_for('withdraw') }}" style="margin-top: 16px;">
    <p>Aby zmienić kategorię, musisz najpierw wycofać swoje obecne zgłoszenie.</p>
    <button type="submit">Wycofaj zgłoszenie</button>
  </form>
{% else %}
  <p>Nie jesteś jeszcze zapisany do żadnej kategorii.</p>
  <a href="{{ url_for('categories') }}">Zapisz się teraz</a>
{% endif %}
</div>
{% endblock %}