{% extends "base.html" %}
{% block content %}
<h1>Profil</h1>
{% if user %}
  <div class="card">
    <p><b>Login:</b> {{ user.login }}</p>
    <p><b>Kraj:</b> {{ user.country_code }}</p>
    <p><b>Imię i nazwisko:</b> {{ user.first_name or '' }} {{ user.last_name or '' }}</p>
    <p><b>Płeć:</b> {{ user.sex }}</p>
    <p><b>Data urodzenia:</b> {{ user.birth_date }}</p>
    <p><b>Athlete code:</b> {{ user.athlete_code }}</p>
  </div>
{% else %}
  <p>Brak danych użytkownika.</p>
{% endif %}
{% endblock %}
